$green: #3bc8aa;
$orange: #ff551a;
$black: #1e1e1e;
$lightYellow: #ffeccf;

$titleFont: 'serif';
$bodyFont: 'sans-serif';

* {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: $bodyFont;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $titleFont;
}

header, main, footer {
  padding: 20px 30px;
}

a {
  color: $green;
}

header {
  background-color: $lightYellow;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    margin: 0;

    img {
      width: 80px;
    }
  }
}

main {
  min-height: calc(100vh - 150px);
}

footer {
  font-size: 14px;
  color: #999999;
}

label {
  display: block;
}

input, textarea {
  font-size: 18px;
  min-width: 400px;
  border: 1px solid #cccccc;
  padding: 7px 10px;
}

input[type=submit] {
  background: $orange;
  color: white;
  border-color: 400px;
}

textarea {
  min-height: 400px;
}
