<%= form_with model: @review do |f| %>

  <% if @review.errors.any? %>
    <div class="errors">
      <% @review.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :restaurant %>
    <%= f.text_field :restaurant %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body, size: '60x10' %>
  </p>

  <p>
    <%= f.label :score %>
    <%= f.number_field :score, in: 0..10, step: 1 %>
  </p>

  <p>
    <%= f.label :ambiance %>
    <%= f.text_field :ambiance %>
  </p>

  <p>
    <%= f.submit 'Save' %>
  </p>

<% end %>
