<% content_for :page_title, 'Latest reviews' %>

<h3>Latest reviews</h3>

<% @reviews.each do |review| %>
  <p class="review">📝 <%= link_to review.title, review_path(review) %> [ <%= review.score %> / 10 ]</p>
<% end %>
