<% content_for :page_title, @review.title %>

<h3>
  <%= @review.title %>
  [ <%= link_to '✏️', edit_review_path(@review), { title: 'Edit ' + @review.title } %> ]
</h3>

<h4>
  🍝 <%= @review.restaurant %>
  [ <%= @review.score %> out of 10 ]
  <% if @review.ambiance.present? %>
    [ <%= @review.ambiance.capitalize %> ]
  <% end %>
</h4>

<div>
  <%= simple_format @review.body %>
</div>

<div>
  <%= button_to '❌ Delete this review', review_path(@review), method: :delete %>
</div>
