<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for :page_title %> | Bien Review - the best restaurant reviews in the world!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1>
          <%= link_to root_path do %>
            <%= image_tag 'bien-logo.svg' %>
          <% end %>
        </h1>
      </nav>
      <%# <h1>The best restaurant reviews in the world!</h1> %>
      <nav>
        <%= link_to 'Add new review', new_review_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      Copyright 2022 Bien Reviews
    </footer>
  </body>
</html>
